.quantity {
  max-height: 25px;
  margin-right: 0px;
  width: 100%;
  height: 38px;
  max-width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
}

.quantity_button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #252525;
  z-index: 1;
  position: relative;
  cursor: pointer;
}

.quantity_label {
  border: 0;  
}
