.languageButton_badge {
  display: flex;
  align-items: center;
  border-radius: 50px;
  height: fit-content;
  padding: 5px;
  cursor: pointer;
}

.languageButton_flag {
  width: 1em;
  height: 1em;
}
