.productCard {
    display: grid;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
    height: 300px;
    width: 200px;
    margin: 5px;
    padding: 5px;
}

.productCard_image {
   max-width: 75px;
}

.productCard_title {
    font-size: 13px;
    color: green;
    margin:0;
    font-weight: bold;
    text-align: center;
}

.productCard_priceInfo {
    font-size: 13px;
    margin:0;
}

.productCard_description {
    font-size: 13px;
    text-align: justify;
}

.productCard_state {
    display: flex;
    background-color: antiquewhite;
    font-weight: bold;
    justify-content: space-between;
    width: 100%
}