.checkOutTotal {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.cart_content {
  width: 100%;
}

.subtotal_title {
  text-align: left;
}

.table_body {
  border-collapse: collapse;
}

.title_head {
  border-color: #ccc;
  width: 100%;
  text-align: left;
}

.table_value {
  margin: 1px;
}
